@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');
/*****************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lepcha&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#desktop{
    width: 100%;
    height: 100px;
    background-color: #4E5EE5;
    display: grid;
    align-items: center;
    grid-template-columns: 30% 60% 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
#desktop .logo{
    font-family: 'Dela Gothic One', cursive;
    color: #FFF;
    text-decoration: none;
    font-size: 40px;
    padding-left: 10%;
}
#desktop .logo span,
#mobile .logo span{
    color: #F6A62D;
}
#desktop .nav-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    margin-bottom: 0;
}
#desktop .nav-link a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFF;
    font-family: 'Francois One', sans-serif;
    font-size: 22px;
}
#desktop .nav-link a:hover{
    color: #F6A62D;
}
#desktop .signup-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFF;
    display: grid;
    place-items: center;
    color: #000;
    font-size: 30px;
}
#desktop .signup-btn:hover{
    background-color: #F6A62D;
    color: #FFF;
}
/****************************** NAV MOBILE *******************************/
#mobile{
    width: 100%;
    height: 100px;
    background-color: #4E5EE5;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
#mobile .logo{
    font-family: 'Dela Gothic One', cursive;
    color: #FFF;
    text-decoration: none;
    font-size: 40px;
}
#mobile .fa-bars{
    font-size: 3.2em;
    color: #FFF;
    cursor: pointer;
    display: initial;
}
#mobile .fa-xmark{
    font-size: 3.2em;
    color: #FFF;
    cursor: pointer;
    display: none;
}
.mobile-links{
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #061A3A;
    display: none;
    justify-content: center;
    padding-top: 20%;
    z-index: 9999;
}
.mobile-links ul{
    list-style-type: none;
}
.mobile-links a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Francois One', sans-serif;
    font-size: 2.9em;
}
/****************************** FOOTER ***********************************/
footer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #061A3A;
    color: #FFF;
}
footer .first-row{
    padding: 4% 2% 0 2%;
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 25% 20% 30% 25%;
    justify-content: center;
}
footer .flogo{
    width: 100%;
    height: auto;
    font-family: 'Dela Gothic One', cursive;
    font-size: 26px;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
}
footer .fsite-plan{
    width: 100%;
    height: auto;
    padding-left: 20%;
}
footer ul{
    padding: 0%;
    margin: 0%;
}
footer .fsite-plan ul li {
    list-style-type: none;
}
footer .fsite-plan ul li a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Encode Sans Expanded', sans-serif;
}
footer .fsite-plan ul li a:hover{
    color: #F6A62D;
}
/****************** FOOTER GALLERY ********************************/
footer h4{
    font-family: 'Dela Gothic One', cursive;
}
footer .footer-gallery{
    /* width: 250px; */
    height: auto;
}
footer .footer-gallery .gallery-container{
    width: 250px;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
}
footer .footer-gallery .gallery-container .gallery{
    width: 90px;
    height: 90px;
}
footer .footer-gallery .gallery-container .gallery a{
    width: 90px;
    height: 90px;
}
footer .footer-gallery .gallery img{
    width: 90%;
    height: 90%;
    border-radius: 4px;
    
}
/**************************** MODAL FOOTER  *******************************/
footer .modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
footer .modal.show{
    display: initial;
}
footer .modal-content{
    width: 60%;
    margin: auto;
    max-width: 1200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer .modal-content img{
    width: 100%;
    height: 90%;
}
footer .modal .close{
    color: white;
    font-size: 32px;
    position: fixed;
    top: 10px;
    right: 10%;
    cursor: pointer;
}
/**************************** FOOTER CONTACT  ********************************************/
footer .fcontact{
    width: 100%;
    height: auto;
}
footer .fcinfo{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    gap: 10px;
}
footer .fcinfo div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
footer .fcinfo div p{
    margin: 0%;
}
/******************** FOOTER CREDITS ****************************/
footer .credits{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
footer .credits p{
    margin: 0%;
}
@media screen and (max-width: 1190px) {
    #desktop{
        width: 100%;
        height: 100px;
        background-color: #4E5EE5;
        display: grid;
        align-items: center;
        grid-template-columns: 30% 65% 5%;
        padding-right: 4%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
}
@media screen and (max-width: 1050px){
    #desktop{
        display: none;
    }
    #mobile{
        display: flex;
    }
}
@media screen and (max-width: 992px) {
    footer{
        height: 100%;
    }
    footer .first-row{
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 20px;
    }
    footer .flogo,
    footer .fabout p{
        display: block;
        text-align: center;
    }
    footer .fsite-plan{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .footer-gallery{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .fcontact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .fcinfo div{
        justify-content: center;
    }
}
@media screen and (max-width: 576px){
    footer .first-row{
        height: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
    }
    footer .fabout{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 8%;
    }
}
@media screen and (max-width: 400px){
    #mobile .logo{
        font-size: 30px;
    }
    .mobile-links{
        padding-top: 5%;
    }
}
@media screen and (max-width: 300px){
    .mobile-links a{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 290px) {
    footer .footer-gallery .gallery-container{
        width: 180px;
        margin-top: 8%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}